{% extends 'base.html' %}

{% block title %}Sobre Mí - Mi Portafolio{% endblock %}

{% block content %}
    <h1>Sobre Mí</h1>
    <p>Soy un estudiante entusiasta en el mundo del desarrollo web, actualmente inmerso en un bootcamp de Python en KeepCoding. A través de este programa intensivo, estoy adquiriendo habilidades sólidas en la creación de aplicaciones y sitios web dinámicos con Python y sus frameworks.</p>

    <p>Además de mi formación en KeepCoding, también soy estudiante en el innovador programa Campus 42 Madrid de Telefónica. Este entorno de aprendizaje único me permite desarrollar mis habilidades de programación de manera autónoma y colaborativa, fomentando la resolución de problemas y el aprendizaje continuo.En este entorno estoy utilizando el lenguaje C.</p>

    <h2>Habilidades en Desarrollo (En Adquisición)</h2>
    <p>Durante mi formación, he comenzado a desarrollar habilidades en:</p>
    <ul>
        <li>Python</li>
        <li>Flask </li>
        <li>C</li>
        <li>HTML</li>
        <li>CSS</li>
        <li>GitHub</li>
    </ul>

    <h2>Mis Metas</h2>
    <p>Mi objetivo es aplicar los conocimientos y habilidades que estoy adquiriendo para crear proyectos web significativos y seguir creciendo como desarrollador. Este portafolio es una muestra de mi progreso y de los proyectos en los que estoy trabajando.</p>
{% endblock %}